.app.dark {
  --bg-color: rgb(0 0 47);
  --inverted-bg-color: rgb(231, 231, 231);

  --primary-color: rgb(0, 109, 0);
  --secondary-color: rgb(0, 205, 0);

  --inverted-primary-color: rgb(13, 23, 138);
  --inverted-secondary-color: rgb(39, 31, 206);
}